{% block ace_widget %}
    <textarea {{ block('widget_attributes') }} style="visibility: hidden; width: 0; height: 0; position: absolute;">{{ value }}</textarea>
    <div id="{{ id }}-ace">{{ value }}</div>
    {% if enable and not async %}
        {{ block('_ace_javascript') }}
    {% endif %}
{% endblock %}

{% block ace_javascript %}
    {% if enable and async %}
        {{ block('_ace_javascript') }}
    {% endif %}
{% endblock %}

{% block _ace_javascript %}
    {% if autoload and js_path %}
        <script type="text/javascript">
            var ACE_BASEPATH = "{{ base_path }}";
        </script>
        <script type="text/javascript" src="{{ js_path }}"></script>
    {% endif %}
    <script type="text/javascript">
        (function () {
            {% block ace_widget_extra %}{% endblock ace_widget_extra %}
            var el = document.getElementById('{{ id }}');
            var editor = ace.edit('{{ id }}-ace', {{ config|json_encode|raw }});
            editor.getSession().on('change', function () {
                el.value = editor.getSession().getValue();
                el.setAttribute('data-ace-editor', editor);
            });
        })();
    </script>
{% endblock %}
